urxvt*scrollBar:false

urxvt*background:black
urxvt*foreground:white
!urxvt*foreground:#AAAAAA

!urxvt*color2:#00AA00
!urxvt*color3:#AA5500
urxvt*color4:#1A81D6
!urxvt*color5:#AA00AA
!urxvt*color6:#00AAAA
!urxvt*color9:#FF5555
!urxvt*color10:#55FF55
!urxvt*color11:#FFFF55
urxvt*color12:#569CD6
!urxvt*color12:#5555FF
!urxvt*color14:#55FFFF

urxvt*font:xft:Ricty:size=12
urxvt*boldFont:xft:Ricty:size=12

urxvt*letterSpace:-6
urxvt*lineSpace:2

urxvt*perl-ext-common:xim-onthespot
urxvt*inputMethod:fcitx
urxvt*preeditType:OnTheSpot
